#hamburger {
    transition: .4s transform cubic-bezier(.19,1,.22,1);
}

#hamburger .hamburger-pile {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    overflow: hidden;
    transition: transform .8s cubic-bezier(.19,1,.22,1),opacity .4s cubic-bezier(.19,1,.22,1);
}

.is-menu #hamburger .hamburger-pile:first-child {
    -webkit-transform: translate3d(0,5px,0) rotate3d(0,0,1,-45deg);
    transform: translate3d(0,5px,0) rotate3d(0,0,1,-45deg);
}

.is-menu  #hamburger .hamburger-pile:nth-child(2) {
    opacity: 0;
}

.is-menu #hamburger .hamburger-pile:last-child {
    -webkit-transform: translate3d(0,-5px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(0,-5px,0) rotate3d(0,0,1,45deg);
}

#hamburger .hamburger-pile:before, #hamburger .hamburger-pile:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #171719;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}