.slide-show {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-show .slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: transform 1s ease-in-out;
}

.slide-show .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 0 36px 40px;
    box-sizing: border-box;
    z-index: 10;
}