.menu-item.navigation .link {
    display: table;
}

.menu-item.navigation .text-border {
    position: static;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    color: #3c4248;
}

.menu-item.navigation .image {
    display: none;
}

.menu-item.navigation .wrapper {
    transform: translateX(-100%);
}

.menu-item.navigation.buy .wrapper {
    background-color: #F0F0F0;
}

.navigation.menu-item.authors .wrapper {
    background-color: #B0B0B0;
}

.menu-item.navigation.partnership .wrapper {
    background-color: #3A4047;
}

.menu-item.navigation.partnership .wrapper .text-border {
    color: white;
}