.wrapper.partnership {
    background-color: #3A4047;
    color: white;
}

.wrapper.partnership .wrapper p {
    margin-top: 20px;
}

.wrapper.partnership .wrapper a {
    text-decoration: none;
    font-family: "ProximaNovaBold", sans-serif;
    color: #eec02f;
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .wrapper.partnership .slider {
        width: 100%;
        height: 240px
    }

    .wrapper.partnership .text .wrapper {
        display: block;
    }

    .wrapper.partnership .text {
        width: 100%;
    }
}

@media only screen
and (min-width: 768px) {
    .wrapper.partnership .slider {
        display: inline-block;
        width: 66.667%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.partnership .text {
        display: inline-block;
        width: 33.333%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.partnership .text .wrapper {
        display: table;
    }

    .wrapper.partnership .wrapper .cell {
        display: table-cell;
        vertical-align: middle;
    }
}