.wrapper.buy {
    background-color: #efefef;
    color: #3c4248;
}

.wrapper.buy .wrapper p {
    margin-top: 20px;
}

.wrapper.buy .wrapper a {
    text-decoration: none;
    font-family: "ProximaNovaBold", sans-serif;
    color: #eec02f;
}

.wrapper.buy .wrapper .cities {
    list-style-type: none;
    margin: 20px 0 60px;
}

.wrapper.buy .wrapper .cities li {
    cursor: pointer;
}

.wrapper.buy .wrapper .cities li:hover, .wrapper.buy .wrapper .cities li.selected {
    font-family: "ProximaNovaBold", sans-serif;
    color: #eec02f;
}

.wrapper.buy .map-wrapper {
    background-color: #EFC12B;
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .wrapper.buy .map-wrapper {
        width: 100%;
        height: 240px
    }

    .wrapper.buy .text .wrapper {
        display: block;
    }

    .wrapper.buy .text {
        width: 100%;
    }
}

@media only screen
and (min-width: 768px) {
    .wrapper.buy .map-wrapper {
        display: inline-block;
        width: 66.667%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.buy .text {
        display: inline-block;
        width: 33.333%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.buy .text .wrapper {
        display: table;
    }

    .wrapper.buy .wrapper .cell {
        display: table-cell;
        vertical-align: middle;
    }
}