#transitionAnimation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    z-index: 3;
    transform-origin: top center;
    overflow: hidden;
}

#transitionAnimation .image {
    background-position-x: 0;
}

#transitionAnimation .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    #transitionAnimation {
        width: 100%;
        height: 100%;
    }

    #transitionAnimation .text-border {
        width: 100%;
        left: 0;
    }
}

@media only screen
and (min-width: 768px) {
    #transitionAnimation .text-border {
        width: 33.33333%;
        left: 66.666667%;
    }
}

#transitionAnimation .menu-item .title,
#transitionAnimation .menu-item .sub-title,
#transitionAnimation .menu-item .sub-title-inner,
#transitionAnimation .menu-item .sub-title-inner p {
    transform: translate(0, 0);
    transition: none;
}