.main-template .wrapper.postcards .main-bkg {
    background-color: #F0F0F0;
}

.main-template .wrapper.postcards .background {
    background-image: url(../../assets/images/backgrounds/main/postcards.jpg);
    background-position-x: 42%;
    width: 100vw;
    height: 150vh;
    background-size: cover;
}