#menu, #menu > ul {
    height: 100%;
    width: 100%;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 20;
    visibility: hidden;
}

#menu > ul {
    font-size: 0;
}