#preloader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

#preloader ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
}

#preloader li {
    display: inline-block;
    overflow: hidden;
}

#preloader li .wrapper {
    height: 100%;
    width: 100%;
    background-color: #EDC03E;
    overflow: hidden;
    text-align: center;
}

.smile_logo {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
}

.smile_logo.first {
    left: 100%;
}

.smile_logo.second {
    left: 0;
}

.smile_logo.third {
    left: -100%;
}

.smile path {
    transition: stroke-dashoffset .15s ease-in-out;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    fill: none;
    stroke: #fff;
    stroke-width: 12px;
    stroke-miterlimit: 10;
}

.percentText {
    font-size: 80px;
    color: white;
    line-height: 40px;
    margin: 30px 0 0;
    fill: white;
    text-anchor: middle;
    font-family: "ProximaNovaBold", sans-serif;
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    #preloader li {
        width: 100%;
        height: 89%;
        display: block;
    }

    .smile_logo.first {
        left: 0;
        width: 80%;
        margin: 0 10%;
    }

    .smile_logo.second {
        display: none;
    }

    .smile_logo.third {
        display: none;
    }
}

@media only screen
and (min-width: 768px) {
    #preloader li {
        width: 33.3333333%;
        height: 100%;
    }
}

#preloader li .wrapper {
    height: 100%;
    width: 100%;
    transition: transform 1.4s cubic-bezier(0.8, 0, 0.2, 1), opacity 0.1s;
    transition-delay: 2s, 4.4s;
}

body.loaded #preloader li .wrapper {
    transform: translateX(100%);
    opacity: 0;
}

body.loaded #preloader {
    pointer-events: none;
}

body.loaded #root {
    opacity: 1;
}

body.loading {
    overflow: hidden;
}