@media only screen
and (min-width: 1200px) {
    .header .navigation:hover {
        overflow: visible;
    }

    .annotate-button.navigation .title-wrapper {
        opacity: 0;
    }

    .is-menu .annotate-button.navigation:hover .title-wrapper.close {
        opacity: 1;
    }

    body:not(.is-menu) .annotate-button:hover .title-wrapper.menu {
        opacity: 1;
    }

    .header .navigation:hover .title-wrapper, .header .navigation:hover .title-wrapper .title {
        transform: translateX(0);
    }

    .header .navigation:hover .title-wrapper, .header .navigation:hover .title-wrapper .title {
        transform: translateX(0);
    }

    .header .navigation:hover #hamburger {
        transform: rotate(90deg);
    }
}