@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: landscape) {
    .wrapper.buy .map-wrapper {
        width: 100%;
        height: 320px
    }

    .wrapper.buy .wrapper .cell {
        padding: 70px 75px 50px 30px;
    }

    .wrapper.buy .wrapper h1 {
        font-size: 32px;
    }

    .wrapper.buy .wrapper p, .wrapper.buy .wrapper .cities {
        font-size: 18px;
        line-height: 21px;
    }
}

