@media only screen
and (min-width: 768px )
and (max-width: 1199px)
and (orientation: landscape) {
    .wrapper.buy {
        height: 100%;
    }
    .wrapper.buy .map-wrapper {
        display: inline-block;
        width: 66.667%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.buy .text {
        display: inline-block;
        width: 33.333%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.buy .wrapper .cell {
        padding: 0 49px 0 30px;
    }

    .wrapper.buy .wrapper h1 {
        font-size: 28px;
    }

    .wrapper.buy .wrapper p, .wrapper.buy .wrapper .cities {
        font-size: 18px;
        line-height: 21px;
    }
}