@media only screen
and (min-width: 1600px)
and (max-width: 1899px) {
    .wrapper.buy .text .wrapper {
        width: 319px;
        margin-left: 45px;
    }

    .wrapper.buy .wrapper h1 {
        font-size: 46px;
    }

    .wrapper.buy .wrapper p, .wrapper.buy .wrapper .cities {
        font-size: 20px;
        line-height: 23px;
    }
}