@media only screen
and (min-width: 1900px) {
    .wrapper.buy .text .wrapper {
        width: 352px;
        margin-left: 59px;
    }

    .wrapper.buy .wrapper h1 {
        font-size: 60px;
    }

    .wrapper.buy .wrapper p, .wrapper.buy .wrapper .cities {
        font-size: 24px;
        line-height: 27px;
    }
}