@media only screen
and (min-width: 1200px)
and (max-width: 1599px) {
    .wrapper.buy .text .wrapper {
        width: 276px;
        margin-left: 40px;
    }

    .wrapper.buy .wrapper h1 {
        font-size: 43px;
    }

    .wrapper.buy .wrapper p, .wrapper.buy .wrapper .cities {
        font-size: 18px;
        line-height: 21px;
    }
}