@media only screen
and (min-width: 768px )
and (max-width: 1199px)
and (orientation: portrait) {
    .wrapper.buy .text {
        width: 100%;
    }

    .wrapper.buy .text .wrapper {
        display: block;
    }

    .wrapper.buy .map-wrapper {
        width: 100%;
        height: 500px
    }

    .wrapper.buy .wrapper .cell {
        display: block;
        padding: 70px 0 50px 30px;
        width: 66.667%;
    }

    .wrapper.buy .wrapper h1 {
        font-size: 28px;
    }

    .wrapper.buy .wrapper p, .wrapper.buy .wrapper .cities {
        font-size: 18px;
        line-height: 21px;
    }
}