.smooth-text-block {

}

.smooth-text-block .line {
    overflow: hidden;
    display: block;
}

.smooth-text-block .word, .smooth-text-block .letter {
    display: inline-block;
    position: relative;
}