.main-template .wrapper.emotions .main-bkg {
    background-color: #EDC03E;
}

.main-template .wrapper.emotions .background {
    background-image: url(../../assets/images/backgrounds/main/emotions.jpg);
    background-position-x: 54%;
    width: 100vw;
    height: 150vh;
    background-size: cover;
}