.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media only screen
and (min-width: 1200px) {
    .main-menu {
        overflow: hidden;
        white-space: nowrap;
    }
}