.contacts-block {
    height: 100vh;
}

.contacts-block .vertical-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 6.25rem;
    box-sizing: border-box;
}

.contacts-block .vertical-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .contacts-block .description {
        height: 50%;
        display: block;
        font-size: 30px;
    }

    .contacts-block .contacts {
        height: 50%;
        display: block;
        font-size: 18px;
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: landscape){
    .contacts-block .description {
        width: 50%;
        height: 100%;
        display: inline-block;
        font-size: 30px;
    }

    .contacts-block .contacts {
        width: 50%;
        height: 100%;
        display: inline-block;
        font-size: 18px;
    }
}

@media only screen
and (min-width: 768px)
and (max-width: 1199px) {
    .contacts-block .description {
        width: 50%;
        height: 100%;
        display: inline-block;
        font-size: 30px;
    }

    .contacts-block .contacts {
        width: 50%;
        height: 100%;
        display: inline-block;
        font-size: 18px;
    }
}

@media only screen
and (min-width: 1200px) {
    .contacts-block .description {
        width: 66.6667%;
        height: 100%;
        display: inline-block;
        font-size: 30px;
    }

    .contacts-block .contacts {
        width: 33.3333%;
        height: 100%;
        display: inline-block;
        font-size: 18px;
    }
}