.main-template {
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@media only screen
and (min-width: 1200px) {
    .main-template {
        overflow: hidden;
    }
}

@media only screen
and (max-width: 1200px) {
    .main-template .scroll-arrow {
        display: none;
    }
}

.main-template .wrapper, .main-template .wrapper .main-bkg {
    height: 100%;
    width: 100%;
}

.main-template .scroll-arrow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    z-index: 100;
    transition: opacity 0.5s;
    opacity: 0;
}

.main-template .scroll-arrow.hidden {
    opacity: 0;
    pointer-events: none;
}