@media only screen
and (min-width: 1200px)
and (max-width: 1599px) {
    .menu-item.navigation .text {
        margin: 0 38px;
        height: 200px;
    }

    .menu-item.navigation .text .title {
        font-size: 40px;
        width: 240px;
        display: inline-block;
    }

    .menu-item.navigation .text .sub-title {
        margin-top: 11px;
        font-size: 18px;
        line-height: 21px;
    }
}