@media only screen
and (min-width: 1900px) {
    .menu-item.navigation .text {
        margin: 0 58px;
    }

    .menu-item.navigation .text .title {
        font-size: 60px;
    }

    .menu-item.navigation .text .sub-title {
        margin-top: 22px;
        font-size: 24px;
        line-height: 27px;
    }
}