@media only screen
and (min-width: 1600px)
and (max-width: 1899px) {
    .menu-item.navigation .text {
        margin: 0 54px;
    }

    .menu-item.navigation .text .title {
        font-size: 53px;
    }

    .menu-item.navigation .text .sub-title {
        margin-top: 25px;
        font-size: 24px;
        line-height: 27px;
    }
}