@media only screen
and (min-width: 768px )
and (max-width: 1199px)
and (orientation: landscape) {
    .menu-item.navigation .text {
        margin: 0 31px;
        height: 155px;
    }

    .menu-item.navigation .text .title {
        font-size: 40px;
    }

    .menu-item.navigation .text .sub-title {
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
    }
}