@media only screen
and (min-width: 768px )
and (max-width: 1199px)
and (orientation: portrait) {
    .menu-item.navigation {
        width: 33.3333333%;
        height: 100%;
        display: inline-block;
    }

    .menu-item.navigation .text {
        height: 175px;
        margin: 0 23px;
    }

    .menu-item.navigation .title {
        font-size: 37px;
    }

    .menu-item.navigation .sub-title {
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
    }
}