@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: portrait) {
    .menu-item.navigation .text {
        margin: 0 38px;
    }

    .menu-item.navigation .text .title {
        font-size: 37px;
    }

    .menu-item.navigation .text .sub-title {
        margin-top: 15px;
        font-size: 18px;
        line-height: 21px;
    }
}

