.wrapper.authors {
    background-color: #B0B0B0;
    color: #3c4248;
}

.wrapper.authors .wrapper p {
    margin-top: 20px;
}

.wrapper.authors .wrapper a {
    text-decoration: none;
    font-family: "ProximaNovaBold", sans-serif;
    color: white;
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .wrapper.authors .slider {
        width: 100%;
        height: 240px
    }

    .wrapper.authors .text .wrapper {
        display: block;
    }

    .wrapper.authors .text {
        width: 100%;
    }
}

@media only screen
and (min-width: 768px) {
    .wrapper.authors .slider {
        display: inline-block;
        width: 33.333%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.authors .text {
        display: inline-block;
        width: 66.667%;
        height: 100%;
        vertical-align: top;
    }

    .wrapper.authors .text .wrapper {
        display: table;
    }

    .wrapper.authors .wrapper .cell {
        display: table-cell;
        vertical-align: middle;
    }
}