
.title-container {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.title-container .title {
    position: relative;
    font-family: "ProximaNovaBold", sans-serif;
    font-weight: 700;
    font-size: 6.25rem;
    line-height: 6.875rem;
    color: white;
    top: 60%;
    margin: 0 50px;
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .title-container .title {
        font-size: 48px;
        width: 90%;
        margin: 0 20px;
        top: 70%;
    }
}