@media only screen
and (min-width: 1600px)
and (max-width: 1899px) {
    .wrapper.partnership .text .wrapper {
        width: 319px;
        margin-left: 45px;
    }

    .wrapper.partnership .wrapper h1 {
        font-size: 46px;
    }

    .wrapper.partnership .wrapper p {
        font-size: 20px;
        line-height: 23px;
    }
}