.main-template .wrapper.handmade .main-bkg {
    background-color: #F0F0F0;
}

.main-template .wrapper.handmade .background {
    background-image: url(../../assets/images/backgrounds/main/handmade.jpg);
    background-position-x: 47%;
    width: 100vw;
    height: 150vh;
    background-size: cover;
}