.header {
    position: fixed;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 72px;
    margin-top: 23px;
    margin-left: 36px;
    width: 128px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header .navigation {
    position: absolute;
    right: 0;
    top: 0;
    padding: 17px 13px;
    margin-top: 40px;
    margin-right: 35px;
    height: 45px;
    width: 45px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.header .navigation .menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.header .navigation:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fbf9f6;
}

.header .title-wrapper {
    position: absolute;
    transform: translateX(100%);
    overflow: hidden;
    border-radius: 45px;
    color: white;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}

.header .title-wrapper .title {
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.5);
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    padding: 0 60px 0 22px;
}

.header .title-wrapper, .header .title {
    transition: transform 0.3s cubic-bezier(.19,1,.22,1), opacity 0.3s;
    display: inline-block;
}

