.annotate-button {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.annotate-button .image-wrapper {
    cursor: pointer;
}

.annotate-button .title-wrapper {
    position: absolute;
    transform: translateX(100%);
    overflow: hidden;
    border-radius: 45px;
    color: white;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}

.annotate-button.rotate180 .title-wrapper {
    transform: translateX(-100%);
    right: auto;
    left: 0;
}

.annotate-button.rotate90 .title-wrapper {
    display: none;
}

.annotate-button .title {
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.5);
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    padding: 0 60px 0 22px;
}

.annotate-button.rotate180 .title {
    transform: translateX(100%);
    padding: 0 22px 0 60px;
}

.annotate-button .title-wrapper, .annotate-button .title {
    transition: transform 0.3s cubic-bezier(.19,1,.22,1), opacity 0.3s;
    display: inline-block;
}

@media only screen
and (min-width: 1200px) {
    .annotate-button:hover {
        overflow: visible;
    }

    .annotate-button:hover .title-wrapper {
        opacity: 1;
    }

    .annotate-button:hover .title-wrapper, .annotate-button:hover .title {
        transform: translateX(0);
    }

    .annotate-button:hover .title-wrapper, .annotate-button:hover .title {
        transform: translateX(0);
    }
}