.menu-item {
    display: inline-block;
    overflow: hidden;
    white-space: normal;
}

.menu-item .wrapper,
.menu-item .link,
.menu-item .text-border {
    height: 100%;
    width: 100%;
}

.menu-item .image {
    background-size: cover;
    transform-origin: center top;
}

.menu-item .text {
    overflow: hidden;
}

.menu-item .link {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: block;
}

.menu-item .text-border {
    color: white;
}

.menu-item .title {
    font-size: 32px;
    font-family: "ProximaNovaBold", sans-serif;
}

.menu-item .title span {
    white-space: nowrap;
}

.menu-item .sub-title {
    margin-top: 9px;
    font-size: 18px;
    line-height: 21px;
    transition: max-height 0.4s;
    overflow: hidden;
}

.menu-item.postcards .text-border {
    color: #374046;
}

.menu-item.postcards .image {
    /*background-image: url(../../assets/images/backgrounds/main/postcards.jpg);*/
    background-color: #EFEFEF;
}

.menu-item.emotions .image {
    background-image: url(../../assets/images/backgrounds/main/emotions.jpg);
}

.menu-item.handmade .image {
    background-image: url(../../assets/images/backgrounds/main/handmade.jpg);
}

.menu-item.handmade .text-border {
    color: #374046;
}

@media only screen
and (min-width: 320px) {
    .menu-item {
        width: 100%;
        height: 89%;
        display: block;
    }

    .menu-item .text-border {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .menu-item .image {
        height: 130vh;
        width: 150vw;
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .menu-item .image {
        transform: translateX(-12%) scale(0.89) !important;
    }
}

@media only screen
and (min-width: 768px) {
    .menu-item {
        width: 33.33%;
        height: 100%;
        display: inline-block;
    }

    .menu-item .image {
        height: 150vh;
        width: 100vw;
    }
}

@media only screen
and (min-width: 1200px) {
    .menu-item:hover .title,
    .menu-item:hover .sub-title,
    .menu-item:hover .sub-title-inner,
    .menu-item:hover .sub-title-inner p {
        transform: translateY(0);
    }

    .menu-item .title {
        transform: translateY(50px);
    }

    .menu-item .sub-title {
        transform: translateY(-100%);
    }

    .menu-item .sub-title-inner {
        transform: translateY(100%);
    }

    .menu-item .sub-title-inner p {
        transform: translateY(100%);
    }

    .menu-item .title,
    .menu-item .sub-title,
    .menu-item .sub-title-inner {
        transition: transform 1s cubic-bezier(.19,1,.22,1);
    }

    .menu-item .sub-title-inner p {
        transition: transform 0.6s cubic-bezier(.19,1,.22,1);
    }
}