@media only screen
and (min-width: 1900px) {
    .menu-item .text-border {
        height: 626px;
    }

    .menu-item .text {
        margin: 0 56px;
    }

    .menu-item .text .title {
        font-size: 3.75rem;
    }

    .menu-item .text .sub-title {
        margin-top: 23px;
        font-size: 1.5rem;
        line-height: 1.125;
    }
}