@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: landscape) {
    .menu-item .text-border {
        height: 110px;
    }

    .menu-item .text {
        margin: 0 31px 53px;
    }

    .menu-item .text .title {
        font-size: 2rem;
    }

    .menu-item .text .sub-title {
        margin-top: 2rem;
        font-size: 1.125rem;
        line-height: 21px;
    }
}

