@media only screen
and (min-width: 768px )
and (max-width: 1199px)
and (orientation: landscape) {
    .menu-item .text-border {
        height: 220px;
    }

    .menu-item .text {
        margin: 0 22px;
    }

    .menu-item .text .title {
        font-size: 2rem;
    }

    .menu-item .text .sub-title {
        margin-top: 10px;
        font-size: 1.125rem;
        line-height: 21px;
    }
}