@media only screen
and (min-width: 1600px)
and (max-width: 1899px) {
    .menu-item .text-border {
        height: 531px;
    }

    .menu-item .text {
        margin: 0 45px;
    }

    .menu-item .text .title {
        font-size: 3.125rem;
    }

    .menu-item .text .sub-title {
        margin-top: 18px;
        font-size: 1.25rem;
        line-height: 1.15;
    }
}