@media only screen
and (min-width: 1200px)
and (max-width: 1599px) {
    .menu-item .text-border {
        height: 250px;
    }

    .menu-item .text {
        margin: 0 38px;
    }

    .menu-item .text .title {
        font-size: 2.6875rem;
    }

    .menu-item .text .sub-title {
        margin-top: 14px;
        font-size: 1.125rem;
        line-height: 21px;
    }
}