@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: portrait) {
    .menu-item .text-border {
        height: 180px;
    }

    .menu-item .text {
        margin: 0 31px 53px;
    }

    .menu-item .text .title {
        font-size: 32px;
    }

    .menu-item .text .sub-title {
        margin-top: 5px;
        font-size: 18px;
        line-height: 21px;
    }
}

