@media only screen
and (min-width: 768px )
and (max-width: 1199px)
and (orientation: portrait) {


    .menu-item .text-border {
        height: 246px;
    }

    .menu-item .text {
        margin: 0 22px;
    }

    .menu-item .text .title {
        font-size: 28px;
    }

    .menu-item .text .sub-title {
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
    }
}