@media only screen
and (min-width: 1900px) {
    .wrapper.authors .text .wrapper {
        width: 352px;
        margin-left: 59px;
    }

    .wrapper.authors .wrapper h1 {
        font-size: 60px;
    }

    .wrapper.authors .wrapper p {
        font-size: 24px;
        line-height: 27px;
    }
}