@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: portrait) {
    .wrapper.authors .slider {
        width: 100%;
        height: 240px
    }

    .wrapper.authors .wrapper .cell {
        padding: 70px 55px 50px 30px;
    }

    .wrapper.authors .wrapper h1 {
        font-size: 32px;
    }

    .wrapper.authors .wrapper p {
        font-size: 18px;
        line-height: 21px;
    }
}

