.navigation-template {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.navigation-template .wrapper, .navigation-template .wrapper .main-bkg {
    width: 100%;
    min-height: 100%;
}

@media only screen
and (min-width: 1200px) {
    .navigation-template .wrapper, .navigation-template .wrapper .main-bkg {
        height: 100%;
    }
}